<!-- -->
<ion-header style="background-color: #017ab3 !important;">
  <ion-navbar style="background-color: #017ab3 !important;" color="azulc">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>Detalles de Solicitud</strong>
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="Cancelar()">
        Cancelar
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="tipo != 'estudio'" style="padding: 20px; text-align: center;" color="azulco">
    <p ion-text no-margin class="text-white">
      <strong>{{Clinica.NOMBRE}}</strong>
    </p>
    <p>
      <ion-icon name="md-pin" style="color: rgb(173, 22, 22);"></ion-icon>
      <span ion-text color="light">{{Clinica.DIRECCION}}</span>
    </p>
  </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn common-bg">
  <div *ngIf="tipo == 'clinico'" padding>
    <ion-item class="text-azulc" style="background-color: rgb(243, 243, 243);">
      <ion-label>
        <ion-icon name="clock" item-start class="text-azulc"></ion-icon>
        Rango Horario
      </ion-label>
      <ion-select [(ngModel)]="rango" style="color: black;">
        <ion-option value="09hs - 14hs">09hs - 14hs</ion-option>
        <ion-option value="14hs - 18hs">14hs - 18hs</ion-option>
      </ion-select>
    </ion-item>
    <ion-item style="background-color: rgb(243, 243, 243);">
      <ion-label floating class="text-azulc" style="padding-bottom: 5px;">
        <ion-icon name="md-person" item-start class="text-azulc"></ion-icon>
        Médico Sugerido
      </ion-label>
      <ion-input type="text" placeholder="Ingrese el médico sugerido.." style="color: black;" [(ngModel)]="sugerido"
        name="sugerido"></ion-input>
    </ion-item>
    <ion-item class="text-azulc" style="background-color: rgb(243, 243, 243);">
      <ion-label>
        <ion-icon name="md-person" item-start class="text-azulc"></ion-icon>
        Afiliado
      </ion-label>
      <ion-select [(ngModel)]="famselected" style="color: black;">
        <ion-option value="ninguno" default selected>{{myname}}</ion-option>
        <ion-option *ngFor="let fam of familiares" value="{{fam}}">{{fam}}</ion-option>
      </ion-select>
    </ion-item>
    <div style="text-align: right; padding-top: 20px;">
      <button [disabled]="famselected == undefined || (sugerido == '' || sugerido == null || sugerido == undefined) || rango == undefined"
        ion-button color="azulc" item-right (click)="EnviarSolicitud()">
        <ion-icon name="send" item-start style="padding-right: 10px;"></ion-icon> Enviar Solicitud
      </button>
    </div>
  </div>
  <div *ngIf="tipo == 'especialista'" padding>
    <ion-item class="text-azulc" style="background-color: rgb(243, 243, 243);">
      <ion-label>
        <ion-icon name="clock" item-start class="text-azulc"></ion-icon>
        Rango Horario
      </ion-label>
      <ion-select [(ngModel)]="rango" style="color: black;">
        <ion-option value="f">09hs - 14hs</ion-option>
        <ion-option value="m">14hs - 18hs</ion-option>
      </ion-select>
    </ion-item>
    <ion-item style="background-color: rgb(243, 243, 243);">
      <ion-label floating class="text-azulc" style="padding-bottom: 5px;">
        <ion-icon name="md-person" item-start class="text-azulc"></ion-icon>
        Médico Sugerido
      </ion-label>
      <ion-input type="text" placeholder="Ingrese el médico sugerido.." style="color: black;" [(ngModel)]="sugerido"
        name="sugerido"></ion-input>
    </ion-item>
    <ion-item class="text-azulc" style="background-color: rgb(243, 243, 243);">
      <ion-label>
        <ion-icon name="md-person" item-start class="text-azulc"></ion-icon>
        Afiliado
      </ion-label>
      <ion-select [(ngModel)]="famselected" style="color: black;">
        <ion-option value="ninguno" default selected>{{myname}}</ion-option>
        <ion-option *ngFor="let fam of familiares" value="{{fam}}">{{fam}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-card style="margin: 0px; width: 100%; margin-top: 20px; padding: 15px;">
      <strong style="color: black;">Derivación / Autorización</strong>
      <button style="width: 100%;" ion-button color="azulco" item-right (click)="TomarFoto()">
        <ion-icon name="md-camera" item-start style="padding-right: 10px;"></ion-icon> Tomar Foto
      </button>
      <!-- <button style="width: 100%;" ion-button color="azulco" item-right (click)="SeleccionarFoto()">
        <ion-icon name="md-camera" item-start style="padding-right: 10px;"></ion-icon> Tomar Foto
      </button> -->
    </ion-card>

    <div style="text-align: right; padding-top: 20px;">
      <button [disabled]="base64image == undefined || (sugerido == '' || sugerido == null || sugerido == undefined || rango == undefined || famselected == undefined)"
        ion-button color="azulc" item-right (click)="EnviarEspecialista()">
        <ion-icon name="send" item-start style="padding-right: 10px;"></ion-icon> Enviar Solicitud
      </button>
      <div *ngIf="base64image == undefined || (sugerido == '' || sugerido == null || sugerido == undefined)" style="color: rgb(155, 19, 19);">
        *Debe completar todos los campos
      </div>
    </div>
    <div style="text-align: center; padding-top: 10px;">
      <img [src]="base64image" *ngIf="base64image != undefined" height="100px" width="100px">
    </div>
  </div>

  <div *ngIf="tipo == 'estudio'" padding>
    <ion-item class="text-azulc" style="background-color: rgb(243, 243, 243);">
      <ion-label>
        <ion-icon name="clock" item-start class="text-azulc"></ion-icon>
        Rango Horario
      </ion-label>
      <ion-select [(ngModel)]="rango" name="rango" style="color: black;">
        <ion-option value="f">09hs - 14hs</ion-option>
        <ion-option value="m">14hs - 18hs</ion-option>
      </ion-select>
    </ion-item>
    <ion-item style="background-color: rgb(243, 243, 243);">
      <ion-label floating class="text-azulc" style="padding-bottom: 5px;">
        <ion-icon name="md-person" item-start class="text-azulc"></ion-icon>
        Clínica Sugerida
      </ion-label>
      <ion-input type="text" placeholder="Ingrese el médico sugerido.." style="color: black;" [(ngModel)]="sugerido"
        name="sugerido"></ion-input>
    </ion-item>
    <ion-item class="text-azulc" style="background-color: rgb(243, 243, 243);">
      <ion-label>
        <ion-icon name="md-person" item-start class="text-azulc"></ion-icon>
        Afiliado
      </ion-label>
      <ion-select [(ngModel)]="famselected" style="color: black;">
        <ion-option value="ninguno" default selected>{{myname}}</ion-option>
        <ion-option *ngFor="let fam of familiares" value="{{fam}}">{{fam}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-card style="margin: 0px; width: 100%; margin-top: 20px; padding: 15px;">
      <strong style="color: black;">Derivación / Autorización</strong>
      <button style="width: 100%;" ion-button color="azulco" item-right (click)="TomarFoto()">
        <ion-icon name="md-camera" item-start style="padding-right: 10px;"></ion-icon> Tomar Foto
      </button>
      <!-- <button style="width: 100%;" ion-button color="azulco" item-right (click)="SeleccionarFoto()">
        <ion-icon name="md-camera" item-start style="padding-right: 10px;"></ion-icon> Tomar Foto
      </button> -->
    </ion-card>

    <div style="text-align: right; padding-top: 20px;">
      <button [disabled]="base64image == undefined || (sugerido == '' || sugerido == null || sugerido == undefined || rango == undefined || famselected == undefined)"
        ion-button color="azulc" item-right (click)="EnviarEstudio()">
        <ion-icon name="send" item-start style="padding-right: 10px;"></ion-icon> Enviar Solicitud
      </button>
      <div *ngIf="base64image == undefined || (sugerido == '' || sugerido == null || sugerido == undefined)" style="color: rgb(155, 19, 19);">
        *Debe completar todos los campos
      </div>
    </div>
    <div style="text-align: center; padding-top: 10px;">
      <img [src]="base64image" *ngIf="base64image != undefined" height="100px" width="100px">
    </div>
  </div>
</ion-content>
